# fly.toml app configuration file generated for textsync on 2023-06-17T16:32:37-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "textsync"
primary_region = "gru"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
