*, *::before, *::after {
  box-sizing: border-box;
}

body {
    background-color: grey;
    margin: 0;
}

.container .ql-editor {
    width: 8.5in;
    min-height: 11in;
    padding: 1in;
    margin: 1rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    background-color: white;
}